{
  "presets": [
    "@babel/preset-env",
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        // config with path in tsconfig.json to get absolute path
        "alias": {
          "~": "./src"
        }
      }
    ]
  ]
}
